<header>
    <div id="header-banner">

    </div>
    <div class="container">
        {{#if @blog.logo}}
            <img id="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            <a href="{{@blog.url}}">
                <h1 id="title">{{@blog.title}}</h1>
            </a>   
            {{!-- uncommented the line below if you want to display a description --}}
            {{!-- <h2 id="site-description">{{@blog.description}}</h2> --}}
        {{else}}
            <div id="title-alone">
                <a href="{{@blog.url}}">
                    <h1 id="title">{{@blog.title}}</h1>
                </a>   
            </div>
        {{/if}}
    </div>
</header>