<article id="main-article-container">
    <time id="main-date-post" datetime="{{date format="YYYY-MM-DD"}}">
        {{date format="D-MM-YYYY"}}
        {{!-- EN format below --}}
        {{!-- {{date format="MM D YYYY"}} --}}
    </time>
    <a id="main-post" href="{{url}}">
        <h1>{{title}}</h1>
    </a>{{!-- &nbsp;|&nbsp;{{reading_time}} --}}
</article>
