<div id="main-post-container">
    <time id="main-date-post" datetime="{{date format="YYYY-MM-DD"}}">
        {{date format="D-MM-YYYY"}}
        {{!-- EN format below --}}
        {{!-- {{date format="MM D YYYY"}} --}}
    </time>
    <a id="main-post" href="{{url}}">
        {{title}}
    </a>{{!-- &nbsp;|&nbsp;{{reading_time}} --}}
</div>
