<!DOCTYPE html>
<html lang={{lang}}>
<head>
    {{!-- Document Settings --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/global.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{asset "css/highlight/mono-blue.css"}}">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>
<body>

    <div id="wrapper">

        {{> "header"}}

        {{!-- Go to top button --}}
        <a onclick="topFunction()" id="top-button" title="Go to top"><img src="/partials/icons/circle-up.svg" alt="ctrl-icon"></a>

        {{!-- Body --}}
        {{{body}}}

        {{> "footer"}}
        
    </div>

    
    <script src="{{asset "js/global.js"}}"></script>

    {{!-- Highlight Lib Management --}}
    <script src="{{asset "js/highlight.pack.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}
</body>
</html>