{{!< default}}

{{#post}}

{{!-- <a id="rss-icon-content" href="{{@blog.url}}/rss/">
    <img src="/partials/icons/rss.svg" alt="rss-icon">
</a>  --}}
<div class="content-container">

    {{!-- Content of a post --}}
    <article>
        <div id="post-header">
            <p>
                <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}"></time>
                    {{date format="D MMMM YYYY"}}
                </time>
            </p>
            {{#primary_tag}}
                <a href="{{url}}">{{name}}</a>
            {{/primary_tag}}
            <h1>{{title}}</h1>
        </div>
        <div id="post-body">
            {{content}}
        </div>
    </article>

    {{!-- Share buttons --}}
    <section id="share-container">
        <a href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <img src="/partials/icons/twitter.svg" alt="twitter-icon">
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{title}}&summary=&source={{@blog.url}}"
            onclick="window.open(this.href, 'linkedin-share'">
            <img src="/partials/icons/linkedin.svg" alt="linkedin-icon">
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <img src="/partials/icons/facebook.svg" alt="facebook-icon">
        </a>
        <a href="https://plus.google.com/share?url={{url absolute="true"}}"
            onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <img src="/partials/icons/google-plus.svg" alt="google-plus-icon">
        </a>
    </section>
</div>

{{/post}}